* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

li {
  list-style: none;
}

.sidebar {
  font-size: 18px;
  font-weight: 600;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: #6176ff;
  color: #f7f7f7
}

.nav-sidebar {
  display: grid;
  grid-template-rows: repeat(autofit, auto);
  gap: 15px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
}

li:first-child {
  font-size: 24px;
  margin-bottom: 35px;
}

li:nth-child(7) {
  margin-bottom: 35px;
}


.header {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1 /2;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 30px;
  align-items: center;
}

.header-top-left {
  display: flex;
  gap: 15px;
  justify-items: center;
  grid-column: 1 / 2;
}

.header-top-right {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / -1;
  margin-right: 10px;
}

input[type="search"] {
  appearance: none;
  border: none;
  background: #e2e0e0ea;
  border-radius: 8px;
  width: 80%;
}

[type="search"]:focus {
  outline-style: 2px solid;
  outline-color: #6176ff;
  border: none;
}

.user-stuff {
  display: flex;
  align-items: center;
  gap: 10px;

}

.user-stuff > * {
  margin: 0;
  padding: 0;
}

.header-bottom {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.header-bottom-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_stuff {
  display: flex;
  flex-direction: column;
}

.user_stuff > * {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.welcome-message {
  font-size: 10px;
  font-weight: 600;
}

.user_name {
  font-weight: 700;
}

.header-bottom-right {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / -1;
  margin-right: 40px;
}

button {
  background-color: #6176ff;
  color: #f7f7f7;
  padding: 5px 20px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #8a99f6;
  color: #fff;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 50px;
  background-color: #e2e0e0ea;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto 1fr;
  grid-column: 1 / -2;
  grid-row: 1 / -1;
  padding: 15px 15px 0 15px;
  gap: 20px;
}

.project-h3 {
  grid-column: 1 / -1;
  grid-row: auto;
  margin: 0;
  padding-bottom: 5px;
}

.rect {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  background-color: #f7f7f7;
  width: 260px;
  height: 190px;
  border-radius: 6px;
  border-left: 5px solid #ffc600;
}


textarea {
  border: none;
}

#textarea-header {
  font-size: 15px;
  font-weight: 600;
}

#textarea-body {
  font-size: 12px;
  font-weight: 300;
}

.icons {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin: 5px 10px 5px 0;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: -2 / -1;
  grid-row: 1 / -2;
  padding: 0 20px;
}

.announcements > h3 {
  margin: 0;
  padding: 20px 0 10px 0;
}

.news-container {
  display: grid;
  grid-template-rows: repeat(1, auto auto auto);
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
}

.news > p {
  font-size: 12px;
}

.news > div {
  margin: 5px 0;
  border-bottom: 2px solid #e2e0e0ea;
}


.news > * {
  margin: 0;
  padding: 0;
}

.trending-container {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
}

.trending-container {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-column: -2 / -1;
  grid-row: 2 / -1;
  padding: 0 20px;
}

.trending-container > h3 {
  margin: 0;
  padding: 20px 0 10px 0;
}

.trending {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 2 / -1;
  background-color: #f7f7f7;
  justify-content: start;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.trending > * {
  margin: 0;
  padding: 0;
}

.trending-element {
  display: flex;
  flex-direction: column;
}

.trending-element > * {
  margin: 0;
  padding: 0;
}

.trending-element > p {
  font-size: 12px;
}

@media(max-width: 972px) {
  .nav-sidebar {
   padding-right: 10px; 
  }
  .projects {
    justify-items: center;
  }
}